ABACI v1.0b (build 16/06/2014)

Documentation:
<a href="http://localhost:8000/doc_user.pdf" target="_blank">User documentation</a>

GIN - UMR5296
<a href="http://www.gin.cnrs.fr" target="_blank">www.gin.cnrs.fr</a>
